@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

.title{
    font-size: 5vw;
}
.title p{
    text-align: center;
    font-weight: 600;
    transition-duration:"3s";
}
.subTitle{
    font-size: 4vw;
}
.subTitle p{
    text-align: center;
    font-weight: 600;
    transition-duration:"1s";
    margin-top: 3vw;
    margin-top: 6vw;
}
.subTitle p{
    text-shadow: 0 0 30px rgb(0, 0, 0);
}

@media (max-width:950px){
    .title{
        font-size: 6.5vw;
    }
    .subTitle{
        font-size: 5.2vw;
    }
}
@media (max-width:650px){
    .title{
        font-size: 8vw;
    }
    .subTitle{
        font-size: 6.5vw;
    }
}

@media (max-width:500px){
    .title{
        font-size: 9.5vw;
    }

    .subTitle{
        font-size: 7.5vw;
    }
}

@media (max-width:400px){
    .title{
        font-size: 12vw;
    }
    .subTitle{
        font-size: 8vw;
    }
}

@media (max-width:350px){
    .title{
        font-size: 13vw;
    }
    .subTitle{
        font-size: 9vw;
    }
}